.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

@media screen and ( max-width: 600px ){
  .projects-container{
    flex-flow: column nowrap;
    align-items: center;
  }
}

.projects-container:nth-of-type(4n) {
	margin-right: 0;	
}

.projects-container:nth-of-type(4n+1) {
	margin-left: 0;	
}
