footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.icons {
  width: calc(40px + 1vw);
  height: calc(40px + 1vw);
  margin: 0.5em 0.5em 0 0.5em;
}

svg:hover #circle {
  fill: var(--accent-color-1);
  cursor: pointer;
}

#circle {
  fill: var(--black);
  transition: 700ms;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  margin-top: 0.6em;
  order: 1;
}

#trademark {
  order: 2;
  margin: 1em;
}
